<html lang="en" ng-app="erApp" ng-controller="createCandidateCtrl">
<head>
<meta charset="utf-8">
<title>Employee Referral Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="lib/angular/js/angular.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/utility/js/jquery-1.11.2.min.js"></script>
<script src="lib/bootstrap/js/ng-tags-input.min.js"></script>
<link href="lib/angular/css/angular-block-ui.min.css" rel="stylesheet">
<script src="js/masks.js"></script>
<script src="lib/angular/js/angular-file-upload-shim.min.js"></script>
<script src="lib/angular/js/angular-file-upload.js"></script>
<script src="lib/angular/js/angular-block-ui.min.js"></script>
<script src="js/profile/createProfile.js"></script>
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="lib/angular/css/ng-tags-input.min.css">
<link href="static/css/home.css" rel="stylesheet">
<link href="lib/bootstrap/font/google_font.css" rel="stylesheet">
<link href="lib/bootstrap/font/font-awesome.min.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/dashboard.css" rel="stylesheet">
<script src="lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<h2 class="headerclass"><b>Profile Management - Create</b></h2>
<!-- ----------------------------------alert Message--------------------------------------------------------- -->
            <div class="bs-example">
               <div style="width:990px;display:none" class="alert alert-success" id="success-alert">
	               <a href="" class="close" data-dismiss="alert">&times;</a>
	               <strong>Success!</strong> Position Details Stored Successfully!
               </div>
               <div style="width:990px;display:none" class="alert alert-danger" id="fail-alert">
	               <a href="" class="close" data-dismiss="alert">&times;</a>
	               <strong>Failed!</strong> Try again.
               </div>
               
<!-- ----------------------------------alert Message--------------------------------------------------------- -->
            <div class="createprofile-container"><br>

           <form action="#" name="CreateCandidate" onvalidate>
              	<form id="integerForm" role="form" class="form-horizontal">
              	
              	<table>
              	<tr>
              	<td class="tableTd">
              	<span class="input-group-addon inner-color" id="basic-addon1">Candidate Name &nbsp; <i
										class="glyphicon glyphicon-user"></i>
									</span></td>

				<td class="tableTd"><input style="margin-left:0%;" type="text" id="cname"
								name="candidateName" class="form-control"  ng-change="toggleProDisable()"
								ng-model="candidate.candidateName" placeholder="Enter Candidate Name" ng-pattern="/^[a-zA-Z _]*$/"
								required></div>
				</td>
				<td class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Qualification &nbsp; <i
										class="glyphicon glyphicon-education"></i>
									</span></td>
								<td>
								<select name="pso" ng-change="toggleProDisable()" placeholder="Select Qualification"
									ng-model="selectedQualification" ng-options = "o as o for o in qualifications" class="form-control input-sm" id="qualification" required style="color: black">
								</select>
							</div>
									</td>
				</div>
				</tr>
				<tr><td></td><td><span
								ng-show="CreateCandidate.candidateName.$invalid  && !CreateCandidate.candidateName.$pristine"
								class="help-block">Enter A Valid Name!</span></td><td></td><td><span
								ng-show="CreateCandidate.qualification.$invalid  && !CreateCandidate.qualification.$pristine"
								class="help-block">Enter A Valid Qualification!</span></td></tr>
				<tr>
				<td id="tdid" class="tableTd">
			<span class="input-group-addon inner-color" id="basic-addon1">Email Id &nbsp; <i
										class="glyphicon glyphicon-envelope"></i>
									</span></td>
	<td id="tdid">
				<span><input type="email" ng-change="toggleProDisable()"
								name="emailId" class="form-control" id="emailId" 
								ng-model="candidate.emailId" placeholder="Enter Email Id."
								required></span></td>
				</div>

				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Specialisation &nbsp;&nbsp; <i
										class="glyphicon glyphicon-book"></i>
									</span></td>

				</td>
						<td id="tdid">
						<input type="text" ng-change="changeEvent()" ng-pattern="/^[a-zA-Z _]*$/"
								name="stream" class="form-control" id="stream"
								ng-model="candidate.stream" placeholder="Enter Stream" required></div>
							</td>
              	</tr>
              	<tr>
              	<td></td><td><span
								ng-show="CreateCandidate.emailId.$dirty && CreateCandidate.emailId.$invalid">
								<span class="help-block"
								class="error" ng-show="CreateCandidate.emailId.$error.email">
									Valid Email-id is required</span></td>
				<td></td>
				<td><span class="help-block"
									ng-show="CreateCandidate.stream.$invalid && !CreateCandidate.stream.$pristine">Valid Stream is required.</span></td>
              	</tr>
				
				<tr>
				<td id="tdid" class="tableTd">
              	<span class="input-group-addon inner-color" id="basic-addon1">Mobile No &nbsp; <i
										class="glyphicon glyphicon-phone"></i>
									</span></td>

				<td id="tdid" class="tableTd">
				<input type="text" ng-change="toggleProDisable()" maxlength="18"
								ng-model="candidate.mobileNo" name="mobileNo" id="mobileNo"
								ngPattern="1234567890 " class="form-control"
								placeholder="Enter mobileNo" ui-br-phone-number required>
									</div></td>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Preferred location &nbsp; <i
										class="glyphicon glyphicon-map-marker"></i>
									</span></td>

				<td id="tdid" class="tableTd">
				<select name="plocation" ng-change="jobCodeSelect()" placeholder="Select Location"
									ng-model="selectedpLocation" ng-options = "o as o for o in plocations" class="form-control input-sm" id="plocation" required style="color: black">
								</select>
				</td>
				</tr>
		
				<tr><td></td><td><span
								class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.required && !CreateCandidate.mobileNo.$pristine && !CreateCandidate.mobileNo.$error.number">Mobile
								Number is required.</span> <span class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.number">Invalid
								mobileNo!!</span> <span class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.maxlength">Mobile
								Number is too long</span>
									</td><td></td><td><span
								ng-show="CreateCandidate.presentLocation.$invalid  && !CreateCandidate.presentLocation.$pristine"
								class="help-block">Enter Valid Location</span></td></tr>	
								
				<tr>	
				<td id="tdid" class="tableTd">
				<span  class="input-group-addon inner-color" id="basic-addon1">Alt. Mobile No &nbsp;&nbsp; <i
										class="glyphicon glyphicon-phone-alt"></i>
									</span></td></div>
				<td id="tdid" class="tableTd">
				<input type="text" ng-change="changeEvent()" 
								ng-model="candidate.altmobileNo" name="altmobileNo" id="altmobileNo"
								ngPattern="1234567890 " ng-maxlength="18" class="form-control"
								placeholder="Enter Alt Mobile No." ui-br-phone-number required>
									</div>
				</td>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Current Employer &nbsp; <i
										class="glyphicon glyphicon-briefcase"></i>
									</span></td>
				<td id="tdid" class="tableTd">
				<input
								type="text" name="currentEmployer" class="form-control" ng-change="toggleProDisable()"
								id="currentEmployer" ng-model="candidate.currentEmployer" ng-pattern="/^[a-zA-Z _]*$/"
								placeholder="Enter Current Company" required></div>
				</td>
				</tr>
				
				<tr>
				<td></td><td><span
								class="help-block"
								ng-show="CreateCandidate.altmobileNo.$error.required && !CreateCandidate.altmobileNo.$pristine && !CreateCandidate.altmobileNo.$error.number">Mobile
								Number is required.</span> <span class="help-block"
								ng-show="CreateCandidate.altmobileNo.$error.number">Invalid
								mobileNo!!</span> <span class="help-block"
								ng-show="CreateCandidate.altmobileNo.$error.maxlength">Mobile
								Number is too long</span></td><td></td><td></td>
				</tr>
								
				<tr>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Pancard No &nbsp; <i
										class="glyphicon glyphicon-credit-card"></i>
									</span></td>
				<td id="tdid" class="tableTd">
				<input type="text" ng-change="changeEvent()" 
								class="form-control" id="pancardNo" name="pancardNo"
								ng-model="candidate.pancardNo" placeholder="Enter Pancard No."
								required></div>
				</td>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Experience &nbsp; <i
										class="glyphicon glyphicon-time"></i>
									</span></td>
				
				<td id="tdid" class="tableTd">
				<select name="experience" id="experience" ng-change="toggleProDisable()" 
									ng-model="selectedExpYears" ng-options = "o as o for o in expYears" class="form-control input-sm" id="experience" required style="color: black">
								</select>
				<select name="expMonths" id="expMonths" ng-change="toggleProDisable()" placeholder="Select Experience"
									ng-model="selectedExpMonths" ng-options = "o as o for o in expMonths" class="form-control input-sm" id="experience" required style="color: black">
								</select>
				</td></tr>
				<tr><td></td><td><span
								ng-show="CreateCandidate.pancardNo.$invalid  && !CreateCandidate.pancardNo.$pristine"
								class="help-block">Pancard Number is required.</span></td><td></td><td><span
								ng-show="CreateCandidate.experience.$invalid  && !CreateCandidate.experience.$pristine"
								class="help-block">Experience is required.</span></td></tr>
				<tr>				
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Passport No &nbsp; <i
										class="glyphicon glyphicon-plane"></i>
									</span></td>
				<td id="tdid" class="tableTd">
				<input type="text" ng-change="changeEvent()" 
								name="passportNo" class="form-control" id="passportNo"
								ng-model="candidate.passportNo" placeholder="Enter Passport No."
								required>
				</td>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Skills &nbsp; <i
										class="glyphicon glyphicon-book"></i>
									</span></td>
									<td id="tdid" class="tableTd">
				<tags-input ng-model="position.primarySkills"  class="field-control" placeholder="Enter Skills"> <auto-complete id="sk"
							source="loadTags($query)" class="field-control"></auto-complete> </tags-input>
							</div>
				</td>
				</tr>
				
				<tr>
				<td></td><td></td><td></td><td><span
								ng-show="CreateCandidate.Skills.$invalid  && !CreateCandidate.Skills.$pristine"
								class="help-block">Valid Skills are required.</span></td></tr>
				
				<tr>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Current Address &nbsp; <i
										class="glyphicon glyphicon-home"></i>
									</span></td>
				<td id="tdid" class="tableTd">
				<textarea cols="50" rows="5" ng-change="toggleProDisable()" name="address"
									id="address" ng-model="candidate.address"
									placeholder="Enter Current Address." required></textarea>
				</td>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Select Jobcode &nbsp; <i
										class="glyphicon glyphicon-barcode"></i>
									</span></td>
				
				<td id="tdid" class="tableTd">
				<select name="jc"
					ng-model="selectedJC" ng-options = "o as o for o in JobCodes" class="form-control input-sm" id="jc" required style="color: black">
								</select>
				</td>
				</tr>
				
				<tr><td></td><td><span
								ng-show="CreateCandidate.passportNo.$invalid  && !CreateCandidate.passportNo.$pristine"
								class="help-block">Passport Number is required.</span></td><td></td><td></td></tr>
								
				<tr>
              	<td id="tdid" class="tableTd">
              	<span class="input-group-addon inner-color" id="basic-addon1">Referred By &nbsp; <i
										class="glyphicon glyphicon-registration-mark"></i>
									</span></td>
				
				<td id="tdid" class="tableTd">
				<select name="referredBy" ng-change="toggleProDisable()" 
									ng-model="selectedreferredBy" ng-options = "o as o for o in referredBys" class="form-control input-sm" id="referredBy" required style="color: black">
								</select>	
				</td>
				
							
							<td id="tdid" class="tableTd">
							<span class="input-group-addon inner-color" id="basic-addon1">Upload Resume &nbsp; <i
										class="glyphicon glyphicon-open "></i>
									</span></td>
								<td id="tdid" class="tableTd">
							<input id="uploadFile" type="file" class="custom-file-input" ng-file-select="upload($files)"/> </div>
								</td>
              	</tr>
          		<tr>
				<td id="tdid" class="tableTd">
				</td>
				<td id="tdid" class="tableTd">
				<a href="" class="btn btn-primary" ng-click="submit()" ng-disabled="disableProBtn">
         		 <span class="glyphicon glyphicon-ok-circle"></span> Register
       			 </a>
				<a ui-sref="searchProfile" class="btn btn-primary">
         		 <span class="glyphicon glyphicon-remove"></span> Cancel
       			 </a>
				</td>
				<td id="tdid" class="tableTd">
				<span class="input-group-addon inner-color" id="basic-addon1">Additional Notes &nbsp; <i
										class="glyphicon glyphicon-pencil "></i>
									</span></td>
				<td id="tdid" class="tableTd">
				<textarea cols="50" rows="5" ng-change="changeEvent()" name="notes"
									id="notes" ng-model="candidate.notes"
									placeholder="Enter any additional notes..." required></textarea>
				</td>
				</tr>
              	</table>
              	
            	</form>
            </form>
            </div>
            
          </div>
         </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
      
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner --> 
</div>

<!-- /main -->
</div>
</center>
</body>
</html>
