<h1>
	<b>Profile Management - Edit</b>
</h1>
<br>
<div class="widget widget-table action-table">
	<div class="editprofile-container">
		<br>

			<form id="integerForm" role="form" class="form-horizontal" action="#" name="CreateCandidate" onvalidate>

				<table>
					<tr>
						<td class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
								<label class="lbl" for="candidateName">Candidate Name*:</label>
							</div>	
						</td>

						<td class="tableTd"><input style="margin-left: 0%;"
							type="text" id="cname" name="candidateName" class="form-control"
							ng-change="toggleProDisable()" ng-model="candidate.candidateName"
							placeholder="Enter Candidate Name" ng-pattern="/^[a-zA-Z _]*$/"
							required>
							</td>


						<td class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.qualification.$invalid && !CreateCandidate.qualification.$pristine }">
								<label class="lbl" for="qualification">Qualification*:</label>
							</div>	
						</td>
						<td><select name="pso" ng-change="toggleProDisable()"
							placeholder="Select Qualification"
							ng-model="candidate.qualification"
							ng-options="o as o for o in qualifications"
							class="form-control input-sm" id="qualification" required
							style="color: black">
						</select>
							</td>
						


					</tr>
					<tr>
						<td></td>
						<td><span
							ng-show="CreateCandidate.candidateName.$invalid  && !CreateCandidate.candidateName.$pristine"
							class="help-block">Enter A Valid Name!</span></td>
						<td></td>
						<td><span
							ng-show="CreateCandidate.qualification.$invalid  && !CreateCandidate.qualification.$pristine"
							class="help-block">Enter A Valid Qualification!</span></td>
					</tr>
					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
								<label class="lbl" for="emailId">Email Id*:</label>
							</div>	
						</td>
						<td id="tdid"><input type="email"
							ng-change="toggleProDisable()" name="emailId"
							class="form-control" id="emailId" ng-model="candidate.emailId"
							placeholder="Enter Email Id." required></td>
						

						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.stream.$invalid && !CreateCandidate.stream.$pristine }">
								<label class="lbl" class="stream" for="stream">Stream</label>
							</div>
						</td>
						<td id="tdid"><input type="text" ng-change="changeEvent()"
							ng-pattern="/^[a-zA-Z _]*$/" name="stream" class="form-control"
							id="stream" ng-model="candidate.stream"
							placeholder="Enter Stream" required>
							 </td>
					</tr>
					<tr>
						<td></td>
						<td><span
							ng-show="CreateCandidate.emailId.$dirty && CreateCandidate.emailId.$invalid"></span>
								<span class="help-block" class="error"
								ng-show="CreateCandidate.emailId.$error.email"> Valid
									Email-id is required</span></td>
						<td></td>
						<td><span class="help-block"
							ng-show="CreateCandidate.stream.$invalid && !CreateCandidate.stream.$pristine">Valid
								Stream is required.</span></td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{'has-error' :CreateCandidate.mobileNo.$invalid && !CreateCandidate.mobileNo.$pristine}">
								<label class="lbl" for="mobileNo">MobileNo*:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							ng-change="toggleProDisable()" ng-model="candidate.mobileNo"
							name="mobileNo" id="mobileNo" ngPattern="1234567890 "
							ng-maxlength="10" class="form-control"
							placeholder="Enter mobileNo" required>
							</td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.pLocation.$invalid && !CreateCandidate.pLocation.$pristine }">
								<label class="lbl" for="plocation">Preferred Location:</label>
							</div>	
						</td>

						<td id="tdid" class="tableTd"><select name="plocation"
							ng-change="changeEvent()" placeholder="Select Location"
							ng-model="candidate.plocation"
							ng-options="o as o for o in plocations"
							class="form-control input-sm" id="plocation" required
							style="color: black">
						</select></td>

					</tr>

					<tr>
						<td></td>
						<td><span class="help-block"
							ng-show="CreateCandidate.mobileNo.$error.required && !CreateCandidate.mobileNo.$pristine && !CreateCandidate.mobileNo.$error.number">Mobile
								Number is required.</span> <span class="help-block"
							ng-show="CreateCandidate.mobileNo.$error.number">Invalid
								mobileNo!!</span> <span class="help-block"
							ng-show="CreateCandidate.mobileNo.$error.maxlength">Mobile
								Number is too long</span></td>
						<td></td>
						<td><span
							ng-show="CreateCandidate.pLocation.$invalid  && !CreateCandidate.pLocation.$pristine"
							class="help-block">select location</span></td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{'has-error' :CreateCandidate.altmobileNo.$invalid && !CreateCandidate.altmobileNo.$pristine}">
								<label class="lbl" for="altmobileNo">Alt. MobileNo:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							ng-model="candidate.altmobileNo" name="altmobileNo"
							id="altmobileNo" ngPattern="1234567890 " ng-maxlength="10"
							class="form-control" placeholder="Enter Alt Mobile No." required>
							</td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.currentEmployer.$invalid && !CreateCandidate.currentEmployer.$pristine }">
								<label class="lbl" for="currentEmployer">Current
									Employer*:</label>
							</div>		
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							name="currentEmployer" class="form-control"
							ng-change="toggleProDisable()" id="currentEmployer"
							ng-model="candidate.currentEmployer" ng-pattern="/^[a-zA-Z _]*$/"
							placeholder="Enter Current Company" required>
							</td>
					</tr>

					<tr>
						<td></td>
						<td><span class="help-block"
							ng-show="CreateCandidate.altmobileNo.$error.required && !CreateCandidate.altmobileNo.$pristine && !CreateCandidate.altmobileNo.$error.number">Mobile
								Number is required.</span> <span class="help-block"
							ng-show="CreateCandidate.altmobileNo.$error.number">Invalid
								mobileNo!!</span> <span class="help-block"
							ng-show="CreateCandidate.altmobileNo.$error.maxlength">Mobile
								Number is too long</span></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.pancardNo.$invalid && !CreateCandidate.pancardNo.$pristine }">
								<label class="lbl" for="pancardNo">Pancard No:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							ng-change="changeEvent()" class="form-control" id="pancardNo"
							name="pancardNo" ng-model="candidate.pancardNo"
							placeholder="Enter Pancard No." required>
							</td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.experience.$invalid && !CreateCandidate.experience.$pristine }">
								<label class="lbl" for="experience">Experience*:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							ng-change="toggleProDisable()" name="experience"
							class="form-control" id="experience" ng-pattern="^[0-9]*$"
							ng-model="candidate.experience" placeholder="Enter Experience"
							required></td>
					</tr>
					<tr>
						<td></td>
						<td><span
							ng-show="CreateCandidate.pancardNo.$invalid  && !CreateCandidate.pancardNo.$pristine"
							class="help-block">Pancard Number is required.</span></td>
						<td></td>
						<td><span
							ng-show="CreateCandidate.experience.$invalid  && !CreateCandidate.experience.$pristine"
							class="help-block">Experience is required.</span></td>
					</tr>
					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
								<label class="lbl" for="passportNo">Passport No.:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							ng-change="changeEvent()" name="passportNo" class="form-control"
							id="passportNo" ng-model="candidate.passportNo"
							placeholder="Enter Passport No." required></td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.Skills.$invalid && !CreateCandidate.Skills.$pristine }">
								<label class="lbl" for="Skills">Skills*:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd"><input type="text"
							ng-change="toggleProDisable()" ng-pattern="/^[a-zA-Z _]*$/"
							name="Skills" class="form-control" id="Skills"
							ng-model="candidate.skills" placeholder="Enter Skills." required>
						</td>
					</tr>

					<tr>
						
						<td><span
							ng-show="CreateCandidate.Skills.$invalid  && !CreateCandidate.Skills.$pristine"
							class="help-block">Valid Skills are required.</span></td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd"><label class="lbl" for="notes">Current
								Address*:</label></td>
						<td id="tdid" class="tableTd"><textarea cols="50" rows="5"
								ng-change="toggleProDisable()" name="address" id="address"
								ng-model="candidate.address"
								placeholder="Enter Current Address." required></textarea></td>
						<td id="tdid" class="tableTd"><label class="lbl" for="notes">Additional
								Notes:</label></td>
						<td id="tdid" class="tableTd"><textarea cols="50" rows="5"
								ng-change="changeEvent()" name="notes" id="notes"
								ng-model="candidate.notes"
								placeholder="Enter any additional notes..." required></textarea>
						</td>
					</tr>

					<tr>
						<td></td>
						<td><span
							ng-show="CreateCandidate.passportNo.$invalid  && !CreateCandidate.passportNo.$pristine"
							class="help-block">Passport Number is required.</span></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd">
						<td id="tdid" class="tableTd">
							<div class="control-group">
								<a href="" class="btn btn-primary" ng-click="editProfile()">
									<span class="glyphicon glyphicon-edit"></span> Schedule
								</a> <a href="" class="btn btn-primary"
									ng-click="updateProfileDetails()"> <span
									class="glyphicon glyphicon-ok"></span> Update
								</a> <a ui-sref="searchProfile" class="btn btn-primary"> <span
									class="glyphicon glyphicon-remove"></span> Cancel
								</a>
							</div>
						</td>
						<td id="tdid" class="tableTd">
							<div class="control-group">
								<label class="lbl" for="filebutton">Upload Resume:</label>
						</td>
						<td id="tdid" class="tableTd"><input id="uploadFile"
							type="file" class="custom-file-input"
							ng-file-select="upload($files)" /></td>
					</tr>
					<tr>
						<td></td>
						<td id="tdid" class="tableTd"></td>
					</tr>
				</table>

			</form>
	</div>

</div>

