<html lang="en" ng-app="erApp" ng-controller="searchCandidateCtrl">
<head>
<meta charset="utf-8">
<title>Employee Referral Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="lib/angular/js/angular.min.js"></script>
<script src="lib/angular/js/ng-grid-1.3.2.js"></script>
<script src="lib/utility/js/jquery-1.11.2.min.js"></script>
<script src="lib/angular/js/ng-grid.debug.js"></script>
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="lib/angular/css/ng-grid.css" />
<script src="js/profile/searchProfile.js"></script>
<link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="static/css/home.css" rel="stylesheet">
<link href="lib/bootstrap/font/google_font.css" rel="stylesheet">
<script src="lib/bootstrap/js/bootstrap.js"></script>
<link href="lib/bootstrap/font/font-awesome.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/dashboard.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
</head>
<body>
<h2 class="headerclass-searchProfile"><b>Profile Management - Search</b></h2>
<div style="width:1050px;" class="alert alert-danger" role="alert" ng-hide="errorHide"><p style="font-size:3ex;"><b>{{errorMsg}}</b></p></div>
            <div class="searchprofile-container"><br>
           <form action="#" name="searchProfile" onvalidate>
              	<form id="integerForm" role="form" class="form-horizontal">
              	<table border="0" cellpadding="4">
              	<tr><td>
              	<div class="ui-widget control-group"
							ng-class="{ 'has-error' : searchProfile.candidateName.$invalid && !searchProfile.candidateName.$pristine }">
								<input name="candidateName" class="form-control input-sm" ng-change="searchDisable=false;disableSearch()" 
								style="position:absolute;top:35px;"
								id="candidateName" ng-model="filterOptions.filterText" placeholder="Enter Name" required> 
						</div></td><!-- <td>
					<a href="" id="searchBtn" ng-disabled="searchDisable" class="btn btn-primary" >
         		 <span class="glyphicon glyphicon-search" style="position:aboslute;top:1px;"></span> Search
       			 </a>
				</td> -->
				<td>
				<a id="rsBtn" ui-sref="createProfile" class="btn btn-primary">
         		 <span class="glyphicon glyphicon-plus" style="position:aboslute;top:1px;"></span> Create
       			 </a>
				</td>
				<td>
				<!-- <a id="approveBtn" href="" class="btn btn-primary" ng-disabled="approveBtnDisable">
         		 <span class="glyphicon glyphicon-ok" style="position:aboslute;top:1px;"></span> Schedule
       			 </a> -->

				</td>
				</tr>		
              	</table>
              	<br><br><br>
              	<div class="gridStyleProfile" ng-grid="gridOptions"></div>
            	</form>
            </form>
            </div>
            <div id="footer" ui-view="footer"></div>
</body>
</html>
