<div ng-controller="editProfileCtrl" align="left">

<accordion close-others=false>

<accordion-group is-open="status.isFourthOpen" >
        <accordion-heading>
          Interview Details<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.isFourthOpen, 'glyphicon-plus': !status.isFourthOpen}"></i>
        </accordion-heading>
        
        <div class="row">
        	<div align="right">
				<div class="col-md-1"></div>
				<div class="col-md-2">			
					<label class="lbl" for="candidateName"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Interviewer Name: </label>
				</div>
				<div class="col-md-3" style="display: inline;">
					<a href="#" editable-text="interviewLoad.interviewerName" onbeforesave="validateName($data)">{{ interviewLoad.interviewerName || "empty" }}</a>
				   
				</div>   
			</div>	
				
				<div class="control-group">
					<div class="col-md-2" align="right">
					 	<label class="lbl" for="date"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Interview Date: </label>
					</div>
					<div class="col-md-3">	
						<p>{{interviewLoad.interviewDateTime}}</p>		
					</div>					
				</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="mobileNo"><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;Interviewer Mob. No.: 	</label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-text="interviewLoad.interviewerMobileNumber" onbeforesave="validateName($data)">{{ interviewLoad.interviewerMobileNumber || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="skypeId"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Skype ID:</label>
				</div>
				<div class="col-md-3">	
					<a href="#" editable-text="interviewLoad.skypeId" onbeforesave="validateName($data)">{{ interviewLoad.skypeId || "empty" }}</a>	
				</div>					
			</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="location"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Location</label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-text="interviewLoad.interviewLocation" onbeforesave="validateName($data)">{{ interviewLoad.interviewLocation || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				<label class="lbl" for="emailId"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Type Of Interview: </label>
				</div>
				<div class="col-md-3">	
						<a href="#" editable-select="interviewLoad.typeOfInterview" e-ng-options="o as o for o in typeOfInterviews">
        					{{ interviewLoad.typeOfInterview }}
      			</a>
				</div>					
			</div>
        </div>
        
        <br>
        
        <div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl">Interviewer Email Id: </label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-text="interviewLoad.emailIdInterviewer" onbeforesave="validateName($data)">{{ interviewLoad.emailIdInterviewer || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl">Additional Notes: </label>
				</div>
				<div class="col-md-3">	
						<a href="#" editable-text="interviewLoad.additionalNotes" onbeforesave="validateName($data)">{{ interviewLoad.additionalNotes || "empty" }}</a>
				</div>					
			</div>
        </div>
        
        <br>
        
        <div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl">Candidate Email Id: </label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-text="interviewLoad.candidateId" onbeforesave="validateName($data)">{{ interviewLoad.candidateId || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	
				</div>
				<div class="col-md-3">	
							
				</div>					
			</div>
        </div>

        
    </accordion-group>

  </accordion>

</div>