<h1>
	<b>Profile Management - Edit</b>
</h1>
<br>
<div class="widget widget-table action-table">
	<div class="editprofile-container">
		<br>

<!-- 			<form id="integerForm" role="form" class="form-horizontal" action="#" name="CreateCandidate" onvalidate  editable-form> -->

				<table>
					<tr>
						<td class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
								<label class="lbl" for="candidateName">Candidate Name*:</label>
							</div>	
						</td>

						<td class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.candidateName" onbeforesave="validateName($data)">{{ candidate.candidateName || "empty" }}</a>
							</div>
							<!-- <edit-in-place value="contact.name"></edit-in-place>{{candidate.candidateName}} -->
						</td>


						<td class="tableTd">
						
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.qualification.$invalid && !CreateCandidate.qualification.$pristine }">
								<label class="lbl" for="qualification">Qualification*:</label>
							</div>	
						</td>
						<td><div>
						<a href="#" editable-select="candidate.qualification" e-ng-options="o as o for o in qualifications">
        					{{ candidate.qualification }}
      					</a></div>
						</td>
						


					</tr>
					
					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
								<label class="lbl" for="emailId">Email Id*:</label>
							</div>	
						</td>
						<td id="tdid">
						<div>
							  <a href="#" editable-text="candidate.emailId">{{ candidate.emailId || "empty" }}</a>
							</div>
						</td>
						

						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.stream.$invalid && !CreateCandidate.stream.$pristine }">
								<label class="lbl" class="stream" for="stream">Stream</label>
							</div>
						</td>
						<td id="tdid">
							<div>
							  <a href="#" editable-text="candidate.stream">{{ candidate.stream || "empty" }}</a>
							</div>
						</td>
					</tr>
					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{'has-error' :CreateCandidate.mobileNo.$invalid && !CreateCandidate.mobileNo.$pristine}">
								<label class="lbl" for="mobileNo">MobileNo*:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.mobileNo" onbeforesave="validatePhNo($data)">{{ candidate.mobileNo || "empty" }}</a>
							</div>
						</td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.pLocation.$invalid && !CreateCandidate.pLocation.$pristine }">
								<label class="lbl" for="plocation">Preferred Location:</label>
							</div>	
						</td>

						<td id="tdid" class="tableTd">
							<div>
								<a href="#" editable-select="candidate.plocation" e-ng-options="o as o for o in plocations">
	        						{{ candidate.plocation }}
	      						</a>
	      					</div>
						</td>

					</tr>
					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{'has-error' :CreateCandidate.altmobileNo.$invalid && !CreateCandidate.altmobileNo.$pristine}">
								<label class="lbl" for="altmobileNo">Alt. MobileNo:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.altmobileNo">{{ candidate.altmobileNo || "empty" }}</a>
							</div>
						</td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.currentEmployer.$invalid && !CreateCandidate.currentEmployer.$pristine }">
								<label class="lbl" for="currentEmployer">Current
									Employer*:</label>
							</div>		
						</td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.currentEmployer">{{ candidate.currentEmployer || "empty" }}</a>
							</div>
						</td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.experience.$invalid && !CreateCandidate.experience.$pristine }">
								<label class="lbl" for="experience">Experience*:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd">
							
						<a href="#" editable-select="candidate.expYear" e-ng-options="o as o for o in expYears">{{candidate.expYear || "empty"}}</a>
						<a href="#" editable-select="candidate.expMonth" e-ng-options="o as o for o in expMonths">{{candidate.expMonth || "empty"}}</a></td>
						
						<td id="tdid" class="tableTd">
						<label class="lbl" for="pancardNo">Pancard No.: </label>
						</td>
						<td id="tdid" class="tableTd">
						<div>
							  <a href="#" editable-text="candidate.pancardNo">{{ candidate.pancardNo || "empty" }}</a>
							</div>
						</td>
					</tr>
					<tr>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
								<label class="lbl" for="passportNo">Passport No.:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.passportNo">{{ candidate.passportNo || "empty" }}</a>
							</div>
						</td>
						<td id="tdid" class="tableTd">
							<div class="control-group"
								ng-class="{ 'has-error' : CreateCandidate.Skills.$invalid && !CreateCandidate.Skills.$pristine }">
								<label class="lbl" for="Skills">Skills*:</label>
							</div>	
						</td>
						<td id="tdid" class="tableTd">
							<div>
							  {{ candidate.primarySkills || "empty" }}
							</div>
						</td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd"><label class="lbl" for="notes">Current
								Address*:</label></td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.address">{{ candidate.address || "empty" }}</a>
							</div>
						</td>
						<td id="tdid" class="tableTd"><label class="lbl" for="notes">Additional
								Notes:</label></td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-text="candidate.notes">{{ candidate.notes || "empty" }}</a>
							</div>
						</td>
					</tr>
					
					<tr>
						<td id="tdid" class="tableTd"><label class="lbl" for="notes">Source: </label></td>
						<td id="tdid" class="tableTd">
							<div>
							  <a href="#" editable-select="candidate.referredBy" e-ng-options="o as o for o in referredBys">{{ candidate.referredBy || "empty" }}</a>
							</div>
						</td>
						<td id="tdid" class="tableTd"><label class="lbl" for="notes">Profile Job Code: </label></td>
						<td id="tdid" class="tableTd">
							<div>
							  {{ candidate.jobcodeProfile || "empty" }}
							</div>
						</td>
					</tr>

					<tr>
						<td id="tdid" class="tableTd">
						<td id="tdid" class="tableTd">
							<div class="control-group">
								<a ng-click="updateProfileDetails()" class="btn btn-primary">
									<span class="glyphicon glyphicon-ok"></span> Update
								</a> 
								<a ui-sref="searchProfile" class="btn btn-primary"> <span
									class="glyphicon glyphicon-remove"></span> Cancel
								</a>
							</div>
						</td>
						<!-- <td id="tdid" class="tableTd">
							<div class="control-group">
								<label class="lbl" for="filebutton">Upload Resume:</label>
						</td>
						<td id="tdid" class="tableTd"><input id="uploadFile"
							type="file" class="custom-file-input"
							ng-file-select="upload($files)" /></td> -->
					</tr>
					<tr>
						<td></td>
						<td id="tdid" class="tableTd"></td>
					</tr>
				</table>

<!-- 			</form> -->
	</div>

</div>

<div ng-controller="editProfileCtrl" align="left">
 
  <accordion close-others=false>
    
    <accordion-group is-open="status.isFirstOpen" >
        <accordion-heading>
          Interview Schedule<i class="pull-right glyphicon" ng-class="{'glyphicon-plus': status.open, 'glyphicon-minus': !status.open}"></i>
        </accordion-heading>
        
        <div class="row">
        	<div align="right">
				<div class="col-md-1"></div>
				<div class="col-md-2">			
					<label class="lbl" for="candidateName"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Interviewer Name: </label>
				</div>
				<div class="col-md-3" style="display: inline;">
					<input style="margin-left:0%;" type="text" id="cname" name="iname" class="form-control"  ng-change=""
				   ng-model="" placeholder="Enter Interviewer Name" ng-pattern="/^[a-zA-Z _]*$/" required>
				   
				</div>   
			</div>	
				
				<div class="control-group">
					<div class="col-md-2" align="right">
					 	<label class="lbl" for="emailId"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Type Of Interview: </label>
					</div>
					<div class="col-md-3">	
						<select class="form-control" id="typeOfInterview">
						<option>Select Interview Type</option>
						<option>Telephonic</option>
						<option>Skype</option>
						<option>Face To Face</option>
						</select>				
					</div>					
				</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="mobileNo"><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;Interviewer Mob. No.: 	</label>
					</div>
					<div class="col-md-3">
						<input type="text" ng-change="" maxlength="18" ng-model="" name="mobileNo" id="mobileNo"
									ngPattern="1234567890 " class="form-control" placeholder="Enter mobileNo" ui-br-phone-number required>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="skypeId"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Skype ID:</label>
				</div>
				<div class="col-md-3">	
					<input type="text" ng-change="" ng-model="" name="altmobileNo" id="skypeId"
								ngPattern="" class="form-control" placeholder="Enter Skype ID." required>			
				</div>					
			</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="location"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Location</label>
					</div>
					<div class="col-md-3">
						<select class="form-control" id="location">
						<option>Select Option</option>
						<option>Pune</option>
						<option>Hyderabad</option>
						<option>Chennai</option>
						<option>Bengaluru</option>
						</select>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="date"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Interview Date: </label>
				</div>
				<div class="col-md-3">	
					
							
				</div>					
			</div>
        </div>
        
        <br>
        
        <div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						
					</div>
					<div class="col-md-3">
						
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	
				</div>
				<div class="col-md-3">	
					<a href="" class="btn btn-primary" ng-click="" ng-disabled="">
         <span class="glyphicon glyphicon-ok-circle"></span> Schedule
    </a>
							
				</div>					
			</div>
        </div>

        
    </accordion-group>
    
    </accordion>
    </div>

<br><br>

<a href="" class="btn btn-primary" ng-click="" ng-disabled="">
         <span class="glyphicon glyphicon-ok-circle"></span> Schedule
    </a>