<!-- ----------------------------------alert Message--------------------------------------------------------- -->
            <div class="bs-example">
               <div style="width:990px;display:none" class="alert alert-success" id="success-alert">
	               <a href="" class="close" data-dismiss="alert">&times;</a>
	               <strong>Success!</strong> Profile Details Stored Successfully!
               </div>
               <div style="width:990px;display:none" class="alert alert-danger" id="fail-alert">
	               <a href="" class="close" data-dismiss="alert">&times;</a>
	               <strong>Failed!</strong> Try again.
               </div>
             </div>  
<!-- ----------------------------------alert Message--------------------------------------------------------- -->

<!-- <form id="integerForm" role="form" class="form-horizontal" action="#" name="CreateCandidate" onvalidate> -->
<div ng-controller="editProfileCtrl" align="left">
 
  <accordion close-others=false>
    
    <accordion-group is-open="status.isFirstOpen" >
        <accordion-heading>
          Personal Details<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.isFirstOpen, 'glyphicon-plus': !status.isFirstOpen}"></i>
        </accordion-heading>
        
        <div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
				<div class="col-md-1"></div>
				<div class="col-md-2">			
					<label class="lbl" for="candidateName"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Candidate Name*</label>
				</div>
				<div class="col-md-3" style="display: inline;">
						<a href="#" editable-text="candidate.candidateName" onbeforesave="validateName($data)">{{ candidate.candidateName || "empty" }}</a>
				</div>   
			</div>	
				
				<div class="control-group" ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
					<div class="col-md-2" align="right">
					 	<label class="lbl" for="emailId"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Email Id*:</label>
					</div>
					<div class="col-md-3">	
						<a href="#" editable-text="candidate.emailId">{{ candidate.emailId || "empty" }}</a>			
					</div>					
				</div>
        </div>
        
            <div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
				<div class="col-md-1"></div>
				<div class="col-md-2"></div>
				<div class="col-md-3" style="display: inline;">
					<span ng-show="CreateCandidate.candidateName.$invalid  && !CreateCandidate.candidateName.$pristine"
								class="help-block">Enter A Valid Name!</span>
				   
				</div>   
			</div>	
				
				<div class="control-group" ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
					<div class="col-md-2" align="right"></div>
					<div class="col-md-3">	
						<span ng-show="CreateCandidate.emailId.$dirty && CreateCandidate.emailId.$invalid">
							<span class="help-block" class="error" ng-show="CreateCandidate.emailId.$error.email">
									Valid Email-id is required</span>			
						</span>			
					</div>					
				</div>
        </div>
    
        <br>
		<div class="row">
        	<div align="right" class="control-group" ng-class="{'has-error' :CreateCandidate.mobileNo.$invalid && !CreateCandidate.mobileNo.$pristine}">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="mobileNo"><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;MobileNo*:</label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-text="candidate.mobileNo" onbeforesave="validatePhNo($data)">{{ candidate.mobileNo || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group" ng-class="{'has-error' :CreateCandidate.altmobileNo.$invalid && !CreateCandidate.altmobileNo.$pristine}">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="altmobileNo"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Alt. MobileNo:</label>
				</div>
				<div class="col-md-3">	
					<a href="#" editable-text="candidate.altmobileNo">{{ candidate.altmobileNo || "empty" }}</a>			
				</div>					
			</div>
        </div>
               <div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
				<div class="col-md-1"></div>
				<div class="col-md-2"></div>
				<div class="col-md-3" style="display: inline;">
					<span class="help-block" ng-show="CreateCandidate.mobileNo.$error.required && !CreateCandidate.mobileNo.$pristine && !CreateCandidate.mobileNo.$error.number">
						Mobile Number is required.</span>
					<span class="help-block" ng-show="CreateCandidate.mobileNo.$error.number">Invalid
								mobileNo!!</span> 
					<span class="help-block" ng-show="CreateCandidate.mobileNo.$error.maxlength">Mobile
								Number is too long</span>
				   
				</div>   
			</div>	
				
				<div class="control-group" ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
					<div class="col-md-2" align="right"></div>
					<div class="col-md-3">	
						<span class="help-block" ng-show="CreateCandidate.altmobileNo.$error.required && !CreateCandidate.altmobileNo.$pristine && !CreateCandidate.altmobileNo.$error.number">
						Mobile Number is required.</span>
					<span class="help-block" ng-show="CreateCandidate.altmobileNo.$error.number">Invalid
								mobileNo!!</span> 
					<span class="help-block" ng-show="CreateCandidate.altmobileNo.$error.maxlength">Mobile
								Number is too long</span>			
					</div>					
				</div>
        </div>
        
    
        <br>
		<div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="passportNo"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Passport No.:</label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-text="candidate.passportNo">{{ candidate.passportNo || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="notes"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Current Address*:</label>
				</div>
				<div class="col-md-3">	
					 <a href="#" editable-text="candidate.address">{{ candidate.address || "empty" }}</a>			
				</div>					
			</div>
        </div>
        
    </accordion-group>
    <br>
    
    <accordion-group is-open="status1.open">
        <accordion-heading>
            Professinal Details <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>
        </accordion-heading> 
        <div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.qualification.$invalid && !CreateCandidate.qualification.$pristine }">
				<div class="col-md-1"></div>
				<div class="col-md-2">			
					<label class="lbl" for="qualification"><i class="glyphicon glyphicon-education"></i>&nbsp;&nbsp;Qualification*:</label>
				</div>
				<div class="col-md-3">
				<a href="#" editable-select="candidate.qualification" e-ng-options="o as o for o in qualifications">
        					{{ candidate.qualification }}
      			</a>
				
				</div>   
			</div>	
				
				<div class="control-group" ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
					<div class="col-md-2" align="right">
					 	<label class="lbl" for="Specialisation"><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Specialisation</label>
					</div>
					<div class="col-md-3">	
						<a href="#" editable-text="candidate.stream">{{ candidate.stream || "empty" }}</a>			
					</div>					
				</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right" class="control-group" ng-class="{'has-error' :CreateCandidate.mobileNo.$invalid && !CreateCandidate.mobileNo.$pristine}">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="Plocation"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Preferred location*</label>
					</div>
					<div class="col-md-3">
						<a href="#" editable-select="candidate.plocation" e-ng-options="o as o for o in plocations">
	        						{{ candidate.plocation }}
	    				</a>

					</div>
			</div>   
				
			<div class="control-group" ng-class="{'has-error' :CreateCandidate.altmobileNo.$invalid && !CreateCandidate.altmobileNo.$pristine}">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="CurrentEmp"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Current Employer</label>
				</div>
				<div class="col-md-3">	
					<a href="#" editable-text="candidate.currentEmployer">{{ candidate.currentEmployer || "empty" }}</a>			
				</div>					
			</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="Experience"><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Experience</label>
					</div>
					<div class="col-md-3">
						<div class="col-md-6">
							<a href="#" editable-select="candidate.expYear" e-ng-options="o as o for o in expYears">{{candidate.expYear || "empty"}}</a>
							
						</div>
						<div class="col-md-6">
							<a href="#" editable-select="candidate.expMonth" e-ng-options="o as o for o in expMonths">{{candidate.expMonth || "empty"}}</a></td>
						</div>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="skills"><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Skills</label>
				</div>
				<div class="col-md-3">	
					<a href="#" editable-text="candidate.primarySkills">{{ candidate.primarySkills || "empty" }}</a>			
				</div>					
			</div>
        </div>
        
    <br>
	<div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="ReferredBy"><i class="glyphicon glyphicon-registration-mark"></i>&nbsp;&nbsp;Referred By</label>
					</div>
					<div class="col-md-3">
						 <a href="#" editable-select="candidate.referredBy" e-ng-options="o as o for o in referredBys">{{ candidate.referredBy || "empty" }}</a>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="jobcode"><i class="glyphicon glyphicon-barcode"></i>&nbsp;&nbsp;Select Jobcode</label>
				</div>
				<div class="col-md-3">	
					<a href="#" editable-select="candidate.jobcodeProfile">{{ candidate.jobcodeProfile || "empty" }}</a>			
				</div>					
			</div>
        </div>
    
    <br>
	<div class="row">
        	<div align="right" class="control-group" ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="additionalNotes"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Additional Notes</label>
					</div>
					<div class="col-md-3">
							<a href="#" editable-text="candidate.notes">{{ candidate.notes || "empty" }}</a>
					</div>
			</div>   
				
			
        </div>
	</accordion-group>
	
	<br>
	 <accordion-group is-open="status.isThirdOpen" >
        <accordion-heading>
          Interview Schedule<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.isThirdOpen, 'glyphicon-plus': !status.isThirdOpen}"></i>
        </accordion-heading>
        
        <div class="row">
        	<div align="right">
				<div class="col-md-1"></div>
				<div class="col-md-2">			
					<label class="lbl" for="candidateName"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Interviewer Name: </label>
				</div>
				<div class="col-md-3" style="display: inline;">
					<input style="margin-left:0%;" type="text" id="cname" name="iname" class="form-control"  ng-change=""
				   ng-model="interview.interviewerName" placeholder="Enter Interviewer Name" ng-pattern="/^[a-zA-Z _]*$/" required>
				   
				</div>   
			</div>	
				
				<div class="control-group">
					<div class="col-md-2" align="right">
					 	<label class="lbl" for="date"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Interview Date: </label>
					</div>
					<div class="col-md-3">	
					
					       <div class="dropdown">
       <input type="text" id="dLabel"  style="margin-top:5px;" data-ng-model="data.date" data-toggle="dropdown" data-target="#" placeholder="Click Here To Select Date..." class="dropdown-toggle form-control" />
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="data.date"
                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
    </ul>
</div>			
					</div>					
				</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="mobileNo"><i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp;Interviewer Mob. No.: 	</label>
					</div>
					<div class="col-md-3">
						<input type="text" ng-change="" maxlength="18" ng-model="interview.interviewerMobileNumber" name="mobileNo" id="mobileNo"
									ngPattern="1234567890 " class="form-control" placeholder="Enter mobileNo" ui-br-phone-number required>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl" for="skypeId"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Skype ID:</label>
				</div>
				<div class="col-md-3">	
					<input type="text" ng-change="" ng-model="interview.skypeId" name="altmobileNo" id="skypeId"
								ngPattern="" class="form-control" placeholder="Enter Skype ID." required>			
				</div>					
			</div>
        </div>
        
        <br>
		<div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl" for="location"><i class="glyphicon glyphicon-plane"></i>&nbsp;&nbsp;Location</label>
					</div>
					<div class="col-md-3">
						<select class="form-control" id="location" ng-model="sel.selectedLocation" ng-options="o as o for o in locations">
						</select>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				<label class="lbl" for="emailId"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Type Of Interview: </label>
				</div>
				<div class="col-md-3">	
						<select class="form-control" id="typeOfInterview" ng-model="sel.selectedtypeOfInterview" ng-options="o as o for o in typeOfInterviews">
						</select>	
				</div>					
			</div>
        </div>
        
        <br>
        
        <div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						<label class="lbl">Interviewer Email Id: </label>
					</div>
					<div class="col-md-3">
						<input type="text" ng-change="" ng-model="interview.emailIdInterviewer" name="emailIdInterviewer" id="emailIdInterviewer"
								 class="form-control" placeholder="Enter Email Id.." required>
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	<label class="lbl">Additional Notes: </label>
				</div>
				<div class="col-md-3">	
						<textarea class="form-control" id="intNotes" ng-model="interview.additionalNotes"></textarea>	
				</div>					
			</div>
        </div>
        
        <br>
        
        <div class="row">
        	<div align="right">
					<div class="col-md-1"></div>
					<div class="col-md-2">			
						
					</div>
					<div class="col-md-3">
						
					</div>
			</div>   
				
			<div class="control-group">
				<div class="col-md-2" align="right">
				 	
				</div>
				<div class="col-md-3">	
					<a href="" class="btn btn-primary" ng-click="schedule()" ng-disabled="">
         <span class="glyphicon glyphicon-ok-circle"></span> Schedule
    </a>
							
				</div>					
			</div>
        </div>

        
    </accordion-group>
    
  </accordion>
  <div align="center">
<a href="" class="btn btn-primary" ng-click="updateProfileDetails()">
         <span class="glyphicon glyphicon-ok"></span> Update
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a ui-sref="searchProfile" class="btn btn-primary">
         <span class="glyphicon glyphicon-remove"></span> Cancel
    </a></div>
 <br><br><br>   
  
</div>	
</form> 
    