.control-group{
	width: 100%;
	/* margin-left: 47%; */
}


.field-control{
	width:250px;
	
}

.form-control{
	/* margin-left: 16%; */
	width:380;
	height:32;
	border-radius: 7px;
	border: 1px solid gray;
	/* -moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 1px 1px #888; */
	
}

textarea
{
	/* margin-left: 16%; */
	width:250;
	border-radius: 7px;
	border: 1px solid gray;
/* 	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 1px 1px #888; */
	height:70px;
}

.help-block
{
	color:red;
}

.lbl{
	font-weight: bold;
	font-size: 11pt;
	/* margin-left: -50%; */
	p/* osition:absolute; */
	/* top:97px;
	left:30px; */
}

.lbl2{
	font-weight: bold;
	margin-left: -60%;
	font-size: 11pt;
	margin-top:25%;
}

.form-container{
	position:relative;
	width:1050px;
	border: 1px solid #d6d6d6;
	/* background-color: #F0F0F0; */
	background-color: #EBFAEB;
	border-radius: 12px;
}

.gridStyle {
	
    border: 1px solid rgb(212,212,212);
    width: 988px;
    height: 318px
}

#designations, #candidateName{
	color: black;
	position:absolute;
	left:30px;
	top:72px;
	width:153px;
	height:32px;
}

#candidateName{
	color: black;
	position:absolute;
	left:64px;
	top:70px;
}

#searchBtn{
	position:absolute;
	top:34px;
	left:190px;
	width:90px;
	/* border-top-left-radius:2px;
	border-bottom-left-radius:2p */x;
}


#rsBtn{
	position:absolute;
	top:34px;
	left:296px;
}

#approveBtn{
	position:absolute;
	top:34px;
	left:400px;
}

#searcCanhBtn{
	position:absolute;
	top:8px;
	right:175px;
}

.form-container-mg{
	/* position:relative; */
	width:1000px;
	height:55px;
	border: 1px solid #d6d6d6;
	background-color: #F0F0F0;
	border-radius: 12px;
}

.positionMg{
	padding-bottom: 100px;
}

.ngPagerButton{
	width:50px;
	border:1px solid gray;
	border-radius:10px;
}

.ngGridMaxPagesNumber{
	font-weight:bold;
}

#designation, #jobcode, #exp, #secondarySkills, #noOfPositions, #location, #client, #experience, #cname, #qualification, #selectbasic, #Skills, #mobileNo, #presentLocation, #pancardNo, #passportNo, #emailId{
	width:250px;
}
.tableTd{
	padding-right: 20px;
}

#tdid{
	padding-top: 20px;
}

#footer{
	position: fixed;
    bottom: 0;
    width: 100%;
}

.ft{
	position:relative;
	bottom:0px;
	background:black;
	width:100%;
	height:10%;
}

.ngRowCountPicker{
	display: none;
}