body
{
	font-family: "Times New Roman", Times, serif;
}

.control-group{
	width: 100%;
	margin-left: 47%;
}


.field-control{
	width:380px;
	
}

.form-control{
	/* margin-left: 16%; */
	width:380;
	height:32;
	border-radius: 7px;
	border: 1px solid gray;
	/* -moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 1px 1px #888; */
	
}

textarea
{
	/* margin-left: 16%; */
	width:380;
	border-radius: 7px;
	border: 1px solid gray;
/* 	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 1px 1px #888; */
}

.help-block
{
	color:red;
}

.lbl{
	font-weight: bold;
	font-size: 11pt;
	margin-left: -50%;
}

.lbl2{
	font-weight: bold;
	margin-left: -60%;
	font-size: 11pt;
	margin-top:25%;
}

.form-container{
	position:relative;
	width:700px;
	border: 1px solid #d6d6d6;
	background-color: #F0F0F0;
	border-radius: 12px;
}

.gridStyle {
	
    border: 1px solid rgb(212,212,212);
    width: 570px; 
    height: 250px;
}

#designations, #name, #candidateName{
	color: black;
	margin-left:-50%;
}

#searchBtn{
	margin-left:-20%;
	margin-bottom:25%;
}