<html lang="en" ng-app="erApp" ng-controller="createCandidateCtrl">
<head>
<meta charset="utf-8">
<title>Employee Referral Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="lib/angular/js/angular.min.js"></script>

<script src="lib/angular/js/angular-file-upload-shim.min.js"></script>
<script src="lib/angular/js/angular-file-upload.js"></script>

<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="js/createCandidate.js"></script>
<link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="static/css/home.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="lib/bootstrap/font/font-awesome.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/dashboard.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

<!------------------------------------------------------ keep header here ---------------------------------------------->
                                            <div ng-include="'header.html'"></div>
<!------------------------------------------------------ --------------------------------------------------------------->
<center>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
        
       <div class="widget widget-table action-table">
            <div class="form-container"><br>
            
              <center><h1>Create Candidate</h1></center><br>
            
      
           
     
           <form action="#" name="CreateCandidate" onvalidate>
              	<form id="integerForm" role="form" class="form-horizontal">
              	<table border="0" cellpadding="4">
              	<tr><td>
              	<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
							<label class="lbl" for="candidateName">Candidate Name:</label></td><td> <input style="margin-left:0%;" type="text" 
								name="candidateName" class="form-control" id="candidateName" ng-change="changeEvent()"
								ng-model="candidate.candidateName" placeholder="Enter Candidate Name" ng-pattern="/^[a-zA-Z _]*$/"
								required></td></tr><tr><td></td><td><span
								ng-show="CreateCandidate.candidateName.$invalid  && !CreateCandidate.candidateName.$pristine"
								class="help-block">Enter A Valid Name!</span>
				</div></td></tr>
				<tr><td>
				<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.qualification.$invalid && !CreateCandidate.qualification.$pristine }">
							<label class="lbl" for="qualification">Qualification:</label></td><td> <input
								type="text" ng-change="changeEvent()" name="qualification" class="form-control" ng-pattern="/^[a-zA-Z _]*$/"
								id="qualification" ng-model="candidate.qualification"
								placeholder="Enter qualification" required></td></tr><tr><td></td><td> <span
								ng-show="CreateCandidate.qualification.$invalid  && !CreateCandidate.qualification.$pristine"
								class="help-block">Enter A Valid Qualification!</span>
						</div></td></tr>
              	<tr><td>
              	<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
							<label class="lbl" for="emailId">Email Id:</label></td><td> <input type="email" ng-change="changeEvent()"
								name="emailId" class="form-control" id="emailId" 
								ng-model="candidate.emailId" placeholder="Enter Email Id."
								required></td></tr><tr><td></td><td>
							<span
								ng-show="CreateCandidate.emailId.$dirty && CreateCandidate.emailId.$invalid">
								<span class="help-block"
								class="error" ng-show="CreateCandidate.emailId.$error.email">
									Valid Email-id is required</span>
						</div></td></tr>
						<tr><td>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.positionName.$invalid && !CreateCandidate.positionName.$pristine }">
							<label class="lbl" class="positionName" for="selectbasic">Position
								Name</label></td><td>
							<div class="controls">
								<select id="selectbasic" name="positionName" ng-change="changeEvent()"
									ng-model="candidate.positionName" class="form-control" required style="color: black">
									<option>Entry Level Engineer</option>
									<option>Jr.Software Developer</option>
									<option>Sr.Software Developer</option>
									<option>Team Lead</option>
								</select></td></tr><tr><td></td><td> <span class="help-block"
									ng-show="CreateCandidate.positionName.$invalid && !CreateCandidate.positionName.$pristine">Position
									Name is required.</span>
							</div>
						</div></td></tr>
						<tr><td>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.Skills.$invalid && !CreateCandidate.Skills.$pristine }">
							<label class="lbl" for="Skills">Skills:</label> </td><td><input type="text" ng-change="changeEvent()" ng-pattern="/^[a-zA-Z _]*$/"
								name="Skills" class="form-control" id="Skills"
								ng-model="candidate.skills" placeholder="Enter Skills." required></td></tr>
							<tr><td></td><td><span
								ng-show="CreateCandidate.Skills.$invalid  && !CreateCandidate.Skills.$pristine"
								class="help-block">Valid Skills are required.</span>
						</div></td></tr>
						<tr><td>
						<div class="control-group">
							<label class="lbl" for="filebutton">Upload
								Resume:</label></td><td>
							<div class="controls">
								<input id="uploadFile" type="file" ng-file-select="upload($files)"/> 
							</div>
						</div></td></tr>
						
						<tr><td>
						<div class="control-group"
							ng-class="{'has-error' :CreateCandidate.mobileNo.$invalid && !CreateCandidate.mobileNo.$pristine}">
							<label class="lbl" for="mobileNo">MobileNo*:</label></td><td> <input type="number" ng-change="changeEvent()" 
								ng-model="candidate.mobileNo" name="mobileNo" id="mobileNo"
								ngPattern="1234567890 " ng-maxlength="10" class="form-control"
								placeholder="Enter mobileNo" required></td></tr><tr><td></td><td> <span
								class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.required && !CreateCandidate.mobileNo.$pristine && !CreateCandidate.mobileNo.$error.number">Mobile
								Number is required.</span> <span class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.number">Invalid
								mobileNo!!</span> <span class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.maxlength">Mobile
								Number is too long</span>
						</div></td></tr>
						
						<tr><td>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.presentLocation.$invalid && !CreateCandidate.presentLocation.$pristine }">
							<label class="lbl" for="presentLocation">Present Location:</label></td><td> <input
								type="text" name="presentLocation" class="form-control" ng-change="changeEvent()"
								id="presentLocation" ng-model="candidate.presentLocation" ng-pattern="/^[a-zA-Z _]*$/"
								placeholder="Enter Present Location" required></td></tr><tr><td></td><td> <span
								ng-show="CreateCandidate.presentLocation.$invalid  && !CreateCandidate.presentLocation.$pristine"
								class="help-block">Enter Valid Location</span>
						</div></td></tr>
						
						<tr><td>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.pancardNo.$invalid && !CreateCandidate.pancardNo.$pristine }">
							<label class="lbl" for="pancardNo">Pancard No:</label></td><td> <input type="text" ng-change="changeEvent()" 
								class="form-control" id="pancardNo" name="pancardNo"
								ng-model="candidate.pancardNo" placeholder="Enter Pancard No."
								required></td></tr><tr><td></td><td> <span
								ng-show="CreateCandidate.pancardNo.$invalid  && !CreateCandidate.pancardNo.$pristine"
								class="help-block">Pancard Number is required.</span>
						</div></td></tr>
						
						<tr><td>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.experience.$invalid && !CreateCandidate.experience.$pristine }">
							<label class="lbl" for="experience">Experience:</label></td><td> <input type="text" ng-change="changeEvent()" 
								name="experience" class="form-control" id="experience" ng-pattern="^[0-9]*$" 
								ng-model="candidate.experience" placeholder="Enter Experience"
								required></td></tr><tr><td></td><td> <span
								ng-show="CreateCandidate.experience.$invalid  && !CreateCandidate.experience.$pristine"
								class="help-block">Experience is required.</span>
						</div></td></tr>
						
						
						<tr><td>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
							<label class="lbl" for="passportNo">Passport No.:</label></td><td> <input type="text" ng-change="changeEvent()" 
								name="passportNo" class="form-control" id="passportNo"
								ng-model="candidate.passportNo" placeholder="Enter Passport No."
								required></td></tr><tr><td></td><td> <span
								ng-show="CreateCandidate.passportNo.$invalid  && !CreateCandidate.passportNo.$pristine"
								class="help-block">Passport Number is required.</span>
						</div></td></tr>
						
						<tr><td></td><td>
						<div class="control-group">
						<input type="button" ng-click="submit()" value=Register ng-disabled="enableDisbleButton" 
							name="post" align="right" class="btn btn-info"
							ng-disabled="restroForm.$invalid" style="margin-left:-46%;" />
							</div></td></tr>
						
              	</table>
            	</form>
            </form>
            </div>

          </div>
         
         
         </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
      
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner --> 
</div>

<!-- /main -->

<!------------------------------------------------------ keep footer here ---------------------------------------------->
                                            <div ng-include="'footer.html'">footer</div>
<!----------------------------------------------------------------------- ---------------------------------------------->


</div>
</center>
</body>
</html>
