<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>

<title>Create New Candidate</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript" src="js/angular-file-upload-shim.min.js"></script>
<script type="text/javascript" src="js/angular-file-upload.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="js/createCandidate.js"></script>
</head>

<body class="login-middile-body">

		<form action="#" name="CreateCandidate" onvalidate>
			<div class="pageDiv">
				<div class=headerDiv>
					<div class="logoDiv"></div>
				</div>
				<div class="container">
				<div ng-include="'menu.html'" class="menuBarStyle"></div>
				<div class="form-container">
				<body ng-controller="formController">
					<br>
					<h2 class ="heading-class">Candidate Registration form</h2>
					<br>
					<form id="integerForm" role="form" class="form-horizontal">
						<br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.candidateName.$invalid && !CreateCandidate.candidateName.$pristine }">
							<label for="candidateName">Candidate Name:</label> <input type="text" 
								name="candidateName" class="form-control" id="candidateName" ng-change="changeEvent()"
								ng-model="candidate.candidateName" placeholder="Enter Candidate Name" ng-pattern="/^[a-zA-Z _]*$/"
								required> <span
								ng-show="CreateCandidate.candidateName.$invalid  && !CreateCandidate.candidateName.$pristine"
								class="help-block">Candidate Name is required.</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.qualification.$invalid && !CreateCandidate.qualification.$pristine }">
							<label for="qualification">Qualification:</label> <input
								type="text" ng-change="changeEvent()" name="qualification" class="form-control"
								id="qualification" ng-model="candidate.qualification"
								placeholder="Enter qualification" required> <span
								ng-show="CreateCandidate.qualification.$invalid  && !CreateCandidate.qualification.$pristine"
								class="help-block">Qualification is required.</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.emailId.$invalid && !CreateCandidate.emailId.$pristine }">
							<label for="emailId">Email Id:</label> <input type="text" ng-change="changeEvent()"
								name="emailId" class="form-control" id="emailId"
								ng-model="candidate.emailId" placeholder="Enter Email Id."
								required>
							<span
								ng-show="CreateCandidate.emailId.$dirty && CreateCandidate.emailId.$invalid">
								<span
								ng-show="CreateCandidate.emailId.$invalid  && !CreateCandidate.emailId.$pristine"
								class="help-block">Email Id is required.</span> <span
								class="error" ng-show="CreateCandidate.emailId.$error.email">
									Valid Email-id is required</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.positionName.$invalid && !CreateCandidate.positionName.$pristine }">
							<label class="positionName" for="selectbasic">Position
								Name</label>
							<div class="controls">
								<select id="selectbasic" name="positionName" ng-change="changeEvent()"
									ng-model="candidate.positionName" class="form-control" required style="color: black">
									<option>Entry Level Engineer</option>
									<option>Jr.Software Developer</option>
									<option>Sr.Software Developer</option>
									<option>Team Lead</option>
								</select> <span class="help-block"
									ng-show="CreateCandidate.positionName.$invalid && !CreateCandidate.positionName.$pristine">Position
									Name is required.</span>
							</div>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.Skills.$invalid && !CreateCandidate.Skills.$pristine }">
							<label for="Skills">Skills:</label> <input type="text" ng-change="changeEvent()"
								name="Skills" class="form-control" id="Skills"
								ng-model="candidate.skills" placeholder="Enter Skills." required>
							<span
								ng-show="CreateCandidate.Skills.$invalid  && !CreateCandidate.Skills.$pristine"
								class="help-block">Skills are required.</span>
						</div><br>
						<div class="control-group">
							<label class="control-label" for="filebutton">Upload
								Resume</label>
							<div class="controls">
								<input id="uploadFile" type="file" ng-file-select="upload($files)"/> 
							</div>
						</div><br>
						<div class="control-group"
							ng-class="{'has-error' :CreateCandidate.mobileNo.$invalid && !CreateCandidate.mobileNo.$pristine}">
							<label for="mobileNo">MobileNo*:</label> <input type="number" ng-change="changeEvent()" 
								ng-model="candidate.mobileNo" name="mobileNo" id="mobileNo"
								ngPattern="1234567890 " ng-maxlength="10" class="form-control"
								placeholder="Enter mobileNo" required> <span
								class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.required && !CreateCandidate.mobileNo.$pristine && !CreateCandidate.mobileNo.$error.number">Mobile
								Number is required.</span> <span class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.number">Invalid
								mobileNo!!</span> <span class="help-block"
								ng-show="CreateCandidate.mobileNo.$error.maxlength">Mobile
								Number is too long</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.presentLocation.$invalid && !CreateCandidate.presentLocation.$pristine }">
							<label for="presentLocation">Present Location:</label> <input
								type="text" name="presentLocation" class="form-control" ng-change="changeEvent()"
								id="presentLocation" ng-model="candidate.presentLocation"
								placeholder="Enter Present Location" required> <span
								ng-show="CreateCandidate.presentLocation.$invalid  && !CreateCandidate.presentLocation.$pristine"
								class="help-block">Present Location is required.</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.pancardNo.$invalid && !CreateCandidate.pancardNo.$pristine }">
							<label for="pancardNo">Pancard No:</label> <input type="text" ng-change="changeEvent()" 
								class="form-control" id="pancardNo" name="pancardNo"
								ng-model="candidate.pancardNo" placeholder="Enter Pancard No."
								required> <span
								ng-show="CreateCandidate.pancardNo.$invalid  && !CreateCandidate.pancardNo.$pristine"
								class="help-block">Pancard Number is required.</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.experience.$invalid && !CreateCandidate.experience.$pristine }">
							<label for="experience">Experience:</label> <input type="text" ng-change="changeEvent()" 
								name="experience" class="form-control" id="experience"
								ng-model="candidate.experience" placeholder="Enter Experience"
								required> <span
								ng-show="CreateCandidate.experience.$invalid  && !CreateCandidate.experience.$pristine"
								class="help-block">Experience is required.</span>
						</div><br>
						<div class="control-group"
							ng-class="{ 'has-error' : CreateCandidate.passportNo.$invalid && !CreateCandidate.passportNo.$pristine }">
							<label for="passportNo">Passport No.:</label> <input type="text" ng-change="changeEvent()" 
								name="passportNo" class="form-control" id="passportNo"
								ng-model="candidate.passportNo" placeholder="Enter Passport No."
								required> <span
								ng-show="CreateCandidate.passportNo.$invalid  && !CreateCandidate.passportNo.$pristine"
								class="help-block">Passport Number is required.</span>
						</div><br>
						<div class="control-group">
						<input type="button" ng-click="submit()" value=Register ng-disabled="enableDisbleButton" 
							name="post" align="right" class="btn btn-info"
							ng-disabled="restroForm.$invalid" />
							</div><br>
					</form>
				</div>
				</div>
			</div>
	</form>
</body>
</html>