<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Employee Referral</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->

<script type="text/javascript" src="js/createPosition.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/georgia.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script type="text/javascript" src="js/angular1.2.min.js"></script>
<script type="text/javascript" src="js/jquery_1.11.1.js"></script>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
<title>Candidate</title>
</head>
<body class="login-middile-body">
	<div ng-app="" ng-controller="positionController">
		<form action="#" name="createPosition" onvalidate>
			<div class="siteDiv">
				<div class="pageDiv">
					<div class="topLinkDiv"></div>
					<div class=headerDiv>
						<div class="logoDiv"></div>
						<div class="titleDiv"></div>
						<div class="rightDiv"></div>
					</div>
					<div class="container">
						<h2>Create New Position</h2>
						<form id="integerForm" role="form" class="form-horizontal">
							<div class="form-group"
								ng-class="{ 'has-error' : createPosition.jobcode.$invalid && !createPosition.jobcode.$pristine }">
								<label for="jobcode">Job Code :</label> <input type="text" name="jobcode"
									class="form-control" id="jobcode"
									ng-model="position.jobcode" placeholder="Enter Job Code" required>
								<span ng-show="createPosition.jobcode.$invalid  && !createPosition.jobcode.$pristine"
									class="help-block">Job is required.</span>
							</div>

							<div class="form-group"
								ng-class="{'has-error' :createPosition.experienceRequired.$invalid && !createPosition.experienceRequired.$pristine}">
								<label for="experienceRequired">Experience Required :</label> <select
									class="form-control" name="experienceRequired" ng-model="experienceRequired"
									id="experienceRequired">
										<option>0-2</option>
										<option>2-4</option>
										<option>4-6</option>
										<option>6 and above</option>
								</select> <span class="help-block"
									ng-show="createPosition.experienceRequired.$invalid && !createPosition.experienceRequired.$pristine">City
									is required.</span>
							</div>

							<div class="form-group" ng-class="{ 'has-error' : createPosition.skillsRequired.$invalid && !createPosition.skillsRequired.$pristine }">
								<label for="skillsRequired">Skills :</label> <input type="text" name="skillsRequired"
									class="form-control" id="skillsRequired"
									ng-model="position.skillsRequired"
									placeholder="Enter Skills" required>
								<span ng-show="createPosition.skillsRequired.$invalid  && !createPosition.skillsRequired.$pristine"
									class="help-block">Skills are required.</span>
							</div>

							<div class="form-group" ng-class="{'has-error' :createPosition.noOfPositions.$invalid && !createPosition.noOfPositions.$pristine}">
								<label for="name">No of Positions :</label> <input
									type="number" name="noOfPositions" class="form-control"
									id="noOfPositions" ng-model="position.noOfPositions"
									placeholder="Enter No of Positions" ngPattern="1234567890 " ng-maxlength="10" required> 
								 <span class="help-block" ng-show="createPosition.noOfPositions.$error.required && !createPosition.noOfPositions.$pristine && !createPosition.noOfPositions.$error.number">Numbers should be entered</span>
 								 <span class="help-block" ng-show="createPosition.noOfPositions.$error.string">Invalid Value</span>  
							</div>

							<div class="form-group" ng-class="{'has-error' :createPosition.jobProfile.$invalid && !createPosition.jobProfile.$pristine}">
								<label for="name">Job Profile :</label>
								<textarea cols="50" rows="5" class="form-control" name="jobProfile"
									id="jobProfile" ng-model="position.jobProfile"
									placeholder="Enter Job Profile" required></textarea>
								<span ng-show="createPosition.jobProfile.$invalid  && !createPosition.jobProfile.$pristine"
									class="help-block">Job Profile is required.</span>
							</div>
							
							<div class="form-group" ng-class="{'has-error' :createPosition.designation.$invalid && !createPosition.designation.$pristine}">
								<label for="name">Designation :</label> <input type="text" name="designation"
									class="form-control" id="designation" ng-model="position.designation"
									placeholder="Enter Designation" required>
								<span ng-show="createPosition.designation.$invalid  && !createPosition.designation.$pristine"
									class="help-block">Designation is required.</span>
							</div>

							<input type="button" ng-click="submit()" value=Register name="post" align="center" style="color: 0000FF"/>
						</form>
					</div>
					<br />
					<div class="copyrightDiv"></div>
				</div>
			</div>

		</form>

	</div>
</body>
</html>