<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" ng-app="editUser">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/home.css">

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.26/angular-route.min.js"></script>


<script type="text/javascript" src="js/createUserController.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<title>Edit User</title>
</head>

<body class="login-middile-body">

	<div class="pageDiv">
		<div class=headerDiv>
			<div class="logoDiv"></div>
		</div>
		<div class="container">
			<div ng-include="'menu.html'" class="menuBarStyle"></div>
			<div class="form-container">
			<body ng-app="editUser" ng-controller="editController">
				<h2 class="heading-class">User Edit form</h2><br>
				<form name="userForm" id="integerForm" role="form"
					class="form-horizontal">
					<div class="form-group"
						ng-class="{ 'has-error' : userForm.userId.$invalid && !userForm.userId.$pristine &&! userForm.userId.$required}">
						<label for="userId">User Id*:</label> <input type="email" ng-change="changeEventEditUser()" 
							name="userId" class="form-control" id="userId"
							ng-model="editUser.userId" placeholder="Enter user Id" required>
						<span
							ng-show="userForm.userId.$invalid && !userForm.userId.$pristine  "
							class="help-block">A Valid Email Id Should Be Entered</span> <span
							ng-show="userForm.userId.$required" class="help-block">Email
							Id Is Required</span>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
						<label for="userName">Name*:</label> <input type="text" ng-change="changeEventEditUser()" 
							name="userName" class="form-control" id="userName"
							ng-model="editUser.name" placeholder="Enter name"
							ng-pattern="/^[a-zA-Z _]*$/" required> <span
							ng-show="userForm.userName.$invalid && !userForm.userName.$pristine && !userForm.userName.$error.userName"
							class="help-block"> Enter A Valid Name</span> <span
							class="help-block" ng-show="userForm.userName.$error.number">Name
							Is Required !!</span>
					</div>
					<div class="form-group"
						ng-class="{ 'has-error' : userForm.emplyoeeId.$invalid && !userForm.emplyoeeId.$pristine }">
						<label for="emplyoeeId">Employee Id*:</label> <input type="number" ng-change="changeEventEditUser()" 
						ng-pattern="^[0-9]*$" 
							name="emplyoeeId" class="form-control" id="emplyoeeId"
							ng-model="editUser.empId" placeholder="Enter employee Id"
							required> <span class="help-block"
							ng-show="userForm.emplyoeeId.$invalid && !userForm.emplyoeeId.$pristine&& !userForm.emplyoeeId.$error.number">A
							Valid Employee Id is required.</span> <span class="help-block"
							ng-show="userForm.emplyoeeId.$error.$number">Employee Id
							is invalid!!</span> <span class="help-block"
							ng-show="userForm.emplyoeeId.$error.$error.maxlength">Employee
							Id is too long</span>
					</div>


					<div class="form-group"
						ng-class="{ 'has-error' : userForm.experience.$invalid && !userForm.experience.$pristine }">
						<label for="experience">Experience*:</label> <input type="number" ng-change="changeEventEditUser()" 
						ng-pattern="^[0-9]*$" 
							name="experience" class="form-control" id="experience"
							ng-model="editUser.experience" placeholder="Enter Experience"
							required> <span class="help-block"
							ng-show="userForm.experience.$invalid && !userForm.experience.$pristine&& !userForm.experience.$error.number">Years
							Of Experience Is Required</span> <span class="help-block"
							ng-show="userForm.experience.$error.$number">Entry is
							invalid!!</span>
					</div>

					<div class="form-group"
						ng-class="{ 'has-error' : userForm.mobileNo.$invalid && !userForm.mobileNo.$pristine }">
						<label for="mobileNo">Mobile No* :</label> <input type="number" ng-change="changeEventEditUser()" 
							ng-model="editUser.mobileNumber" name="mobileNo" id="mobileNo"
							ngPattern="1234567890" ng-maxlength="10" class="form-control"
							placeholder="Enter mobile number" required> <span
							class="help-block"
							ng-show="userForm.mobileNo.$required && !userForm.mobileNo.$pristine && !userForm.mobileNo.$error.number">Valid
							Mobile Number is required.</span> <span class="help-block"
							ng-show="userForm.mobileNo.$error.number">Mobile Number is
							invalid!!</span> <span class="help-block"
							ng-show="userForm.mobileNo.$error.maxlength">Mobile Number
							is too long</span>
					</div>


					<div class="form-group"
						ng-class="{ 'has-error' : userForm.userDesignation.$invalid && !userForm.userDesignation.$pristine }">
						<label for="userDesignation">Designation*:</label> <input
							type="text" name="userDesignation" class="form-control" ng-change="changeEventEditUser()" 
							id="userDesignation" ng-model="editUser.designation"
							ng-pattern="/^[a-zA-Z _]*$/"
							placeholder="Enter Designation" required> <span
							ng-show=" userForm.userDesignation.$invalid && !userForm.userDesignation.$pristine"
							class="help-block">A Valid Designation is required.</span>
					</div>

					<div class="form-group">
						<label for="name">Role:</label> <select class="form-control" ng-change="changeEventEditUser()" 
							ng-model="editUser.roles" name="roles">
							<option selected="select">Analyst</option>
							<option>Admin</option>
							<option>HR</option>
							<option>SystemAdmin</option>
							<option>Other</option>
						</select>
					</div><br>
					<div class="control-group">
							<input type="button" ng-disabled="enableDisbleButton" class="btn btn-info" ng-click="editUserr()" value=Edit ng-disabled="disableEditButton" ng-init="disableEditButton=false" name="post" align="center" style="color: 0000FF;width: 80px"/>
							<input type="button" ng-disabled="enableDisbleButton" class="btn btn-info" ng-click="submit()" ng-disabled="enableDisableButton" ng-init="enableDisableButton=true" value=Update name="post" align="center" style="color: 0000FF"/>
							<input type="button" ng-disabled="enableDisbleButton" class="btn btn-info" ng-click="cancel()" value=Cancel name="post" align="center" style="color: 0000FF"/>
							</div><br>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
