<html lang="en" ng-app="erApp" ng-controller="editPositionCtrl">
<head>
<meta charset="utf-8">
<title>Employee Referral Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="lib/angular/js/angular.min.js"></script>
<script src="lib/angular/js/ng-grid-1.3.2.js"></script>
<script src="lib/utility/js/jquery-1.11.2.min.js"></script>
<script src="lib/angular/js/ng-grid.debug.js"></script>
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="lib/angular/css/ng-grid.css" />
<!-- <script type="text/javascript" src="js/editPosition.js"></script> -->
<link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="static/css/home.css" rel="stylesheet">
<link href="lib/bootstrap/font/google_font.css" rel="stylesheet">
<link href="lib/bootstrap/font/font-awesome.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/css/dashboard.css" rel="stylesheet">
<script src="lib/bootstrap/js/bootstrap.js"></script>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
</head>
<body>

<div id="wrapper">

<!------------------------------------------------------ keep header here ---------------------------------------------->
  <!--                                           <div ng-include="'header.html'"></div> -->
<!------------------------------------------------------ --------------------------------------------------------------->
<h1><b>Position Management - Edit jobcode: <span ng-bind="position.jobcode"></span></b></h1><br>
<center>
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
        
       <div class="widget widget-table action-table">
            <div class="form-container"><br>

           <form action="#" name="createPosition" onvalidate>
              	<form id="integerForm" role="form" class="form-horizontal">
              	 
              	<table border="0" cellpadding="4">
              	<tr>
              	<td class="tableTd">
              	<div class="control-group" ng-class="{'has-error' :createPosition.designation.$invalid && !createPosition.designation.$pristine}">
								<label class="lbl" for="name">Designation*:</label></td>
				<td class="tableTd">
				<select name="designation" ng-change="changeDesignation()" placeholder="Select Designation"
									ng-model="position.selectedDesignation" ng-disabled="enableDisableButton" ng-options = "o as o for o in options" class="form-control input-sm" ng-init="enableDisableButton=true" id="designation" required style="color: black">
								</select></div>
				</td>
				<td id="tdid" class="tableTd">
				<div class="control-group" ng-class="{'has-error' :createPosition.location.$invalid && !createPosition.location.$pristine}">
								<label class="lbl" for="name">Location :</label>
				</td>
				<td id="tdid" class="tableTd">
				<select name="location" ng-change="changeEvent()" placeholder="Select Location"
									ng-model="selectedLocation" ng-options = "o as o for o in locations" class="form-control input-sm" id="location" required style="color: black">
								</select>
				</td>
				</tr>
				
				<tr>
				<td></td><td><span ng-show="createPosition.designation.$invalid  && !createPosition.designation.$pristine"
									class="help-block">Enter Correct Designation.</span></td>
									<td></td><td><span ng-show="createPosition.selectedLocation.$invalid  && !createPosition.selectedLocation.$pristine"
									class="help-block">location is required.</span></td></tr>
				<tr>
				<td id="tdid" class="tableTd">
				<div class="control-group"
								ng-class="{'has-error' :createPosition.experienceRequired.$invalid && !createPosition.experienceRequired.$pristine}">
								<label class="lbl" for="experienceRequired">Experience Required*:</label>
				</td>	
				<td id="tdid" class="tableTd">
				<select name="experience" ng-change="changeEvent()" placeholder="Select Experience"
									ng-model="selectedExperience" ng-disabled="enableDisableButton" ng-options = "o as o for o in items" class="form-control input-sm" ng-init="enableDisableButton=true" id="experience" required style="color: black">
								</select>
				</td>		
				<td id="tdid" class="tableTd">
				<div class="control-group" ng-class="{'has-error' :createPosition.client.$invalid && !createPosition.client.$pristine}">
								<label class="lbl" for="name">Client :</label>
								</div>
				</td>
				<td id="tdid" class="tableTd">
				<input type="text" name="client" ng-change="changeEvent()" 
									class="form-control input-sm" id="client" ng-init="enableDisableButton=true" ng-model="position.client"
									ng-disabled="enableDisableButton" ng-pattern="/^[a-zA-Z _]*$/" 
									placeholder="Enter Client" required>
				</td>
				<tr>
				<td></td><td><span ng-show="createPosition.client.$invalid  && !createPosition.client.$pristine"
									class="help-block">Enter Correct Client.</span></td><td></td><td></td></tr>
				</tr>
				
				<tr>
				<td id="tdid" class="tableTd">
				<div class="ui-widget control-group"
							ng-class="{ 'has-error' : createPosition.primarySkills.$invalid && !createPosition.primarySkills.$pristine }">
							<label class="lbl" for="secondarySkills">Primary Skills :</label>
				</td>			
				<td id="tdid" class="tableTd">
				<input
								id="secondarySkills" ng-change="changeEvent()" name="primarySkills"
								class="form-control input-sm" ng-init="enableDisableButton=true" ng-model="position.primarySkills" ng-disabled="enableDisableButton"
								ng-pattern="/^[a-zA-Z _]*$/" 
								placeholder="Enter primary Skills" required>
				</div>
				</td>
				<td id="tdid" class="tableTd">
				<div class="ui-widget control-group"
							ng-class="{ 'has-error' : createPosition.secondarySkills.$invalid && !createPosition.secondarySkills.$pristine }">
							<label class="lbl" for="secondarySkills">Secondary Skills :</label>
				</td>			
				<td id="tdid" class="tableTd">
				<input
								id="secondarySkills" ng-change="changeEvent()" name="secondarySkills"
								class="form-control input-sm" ng-init="enableDisableButton=true" ng-model="position.secondarySkills" ng-disabled="enableDisableButton"
								ng-pattern="/^[a-zA-Z _]*$/" 
								placeholder="Enter Secondary Skills" required>
				</div></td>	
				
				</tr>
							
				<tr>					
				<td id="tdid" class="tableTd">
				<div class="control-group" ng-class="{'has-error' :createPosition.jobProfile.$invalid && !createPosition.jobProfile.$pristine}">
								<label class="lbl" for="name">Job Description*:</label>
				</td>
				<td id="tdid" class="tableTd">
				<textarea cols="50" rows="5" ng-change="changeEvent()" name="jobProfile"
									id="jobProfile" ng-init="enableDisableButton=true" ng-model="position.jobProfile"
									ng-disabled="enableDisableButton" placeholder="Enter Job Profile" required></textarea>
				</td>
				<td id="tdid" class="tableTd">
				<div class="control-group" ng-class="{'has-error' :createPosition.noOfPositions.$invalid && !createPosition.noOfPositions.$pristine}">
								<label class="lbl" for="name">No of Positions :</label>
				</td>
				<td id="tdid" class="tableTd">
				<input
									type="number" ng-change="changeEvent()" name="noOfPositions" class="form-control input-sm"
									id="noOfPositions" ng-init="enableDisableButton=true" ng-model="position.noOfPositions" ng-disabled="enableDisableButton"
									ng-pattern="^[0-9]*$" 
									placeholder="Enter No of Positions" ng-maxlength="10" required>
				</td></tr>
				<tr>
				<td></td><td><span ng-show="createPosition.jobProfile.$invalid  && !createPosition.jobProfile.$pristine"
									class="help-block">Job Description is required.</span></td>
				<td></td><td><span ng-show="createPosition.location.$invalid  && !createPosition.location.$pristine" class="help-block">Enter Correct Location.</span></td></tr>
				
				<tr>
								
              	<tr>
              	<td></td>
              	<td id="tdid" class="tableTd">
              	<div class="control-group">
              	<a href="" class="btn btn-info btn-lg" ng-click="editPosition()">
         		 <span class="glyphicon glyphicon-edit"></span> Edit
       			 </a>
       			 <a href="" class="btn btn-info btn-lg" ng-click="updatePositionDetails()">
         		 <span class="glyphicon glyphicon-ok"></span> Update
       			 </a>
				<a href="#pos" class="btn btn-info btn-lg">
         		 <span class="glyphicon glyphicon-remove"></span> Cancel
       			 </a>
							</div>
				</td>
				<td></td><td></td></tr>
              	</table>
              
            	</form>
            </form>
            </div>

          </div>
         
         
         </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
      
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner --> 
</div>

<!-- /main -->

<!------------------------------------------------------ keep footer here ---------------------------------------------->
<!--                                             <div ng-include="'footer.html'">footer</div> -->
<!----------------------------------------------------------------------- ---------------------------------------------->


</div>
</center>
</body>
</html>