<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->

<script type="text/javascript" src="js/homePageController.js"></script>
<script type="text/javascript" src="js/angular1.2.min.js"></script>
<script type="text/javascript" src="js/jquery_1.11.1.js"></script>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/home.css">
<title>Candidate</title>
</head>
<body class="login-middile-body">
	<div ng-app="" ng-controller="homePageControllerClass">
		<form action="#" name="homePage" onvalidate>
			<!-- <div class="siteDiv"> -->
			<div class="pageDiv">
				<!-- <div class="topLinkDiv"></div> -->
				<div class=headerDiv>
					<div class="logoDiv"></div>
					<!-- <div class="titleDiv"></div>
						<div class="rightDiv"></div> -->
				</div>
				<div class="container">
					<form id="integerForm" role="form" class="form-horizontal">
						<button ng-click="redirectForCreatingPosition()">Create
							Position</button>
						<br />
						<button ng-click="redirectForCreatingUser()">Create User</button>
						<br />
						<button ng-click="redirecteatForCreatingCandidate()">Create
							Candidate</button>
						<br />
						<!-- <div class="copyrightDiv"></div> -->
				</div>
			</div>

		</form>

	</div>
</body>
</html>