<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script type="text/javascript" src="js/UserRegistration.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/georgia.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script type="text/javascript" src="js/angular1.2.min.js"></script>
<script type="text/javascript" src="js/jquery_1.11.1.js"></script>
<link rel="stylesheet" type="text/css" href="css/home.css">
<title>User</title>
</head>
<!-- <body class="login-middile-body">
	<div class="siteDiv">
	<div class="pageDiv">
		<div class="topLinkDiv"></div>
		<div class=headerDiv>
			<div class="logoDiv"></div>
			<div class="titleDiv"></div>
				<div class="rightDiv"></div>
		</div>
		<div ng-app="" ng-controller="formController">
			<div class="container">
				<h2>User Registration form</h2>
				<form id="integerForm" role="form" class="form-horizontal">
					<div class="form-group">
						<label for="email">UserId:</label> <input type="text"
							class="form-control" id="userId" placeholder="Enter user-id"
							ng-model="user.userId" name="userId" required>
					</div>

					<div class="form-group">
						<label for="name">Name:</label> <input type="text"
							class="form-control" id="name" placeholder="Enter name"
							ng-model="user.name" name="name" required>
					</div>

					<div class="form-group">
						<label for="name">EmployeeId:</label> <input type="text"
							class="form-control" id="empId" placeholder="Enter EmployeeId"
							ng-model="user.empId" name="empId" required>
					</div>
					<div class="form-group">
						<label for="name">Experience:</label> <input type="text"
							class="form-control" id="experience"
							placeholder="Enter Experience" ng-model="user.experience"
							name="experience" required>
					</div>

					<div class="form-group">
						<label for="name">Mobile No:</label> <input type="text"
							class="form-control" id="mobileNumber"
							placeholder="Enter Mobile No." name="mobileNumber"
							ng-model="user.mobileNumber">
					</div>

					<div class="form-group">
						<label for="name">Designation:</label> <input type="text"
							class="form-control" id="designation"
							placeholder="Enter Designation" ng-model="user.designation"
							name="designation">
					</div>

					<div class="form-group">
						<label for="name">Role:</label><br />
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button"
								id="menu1" data-toggle="dropdown">
								Role <span class="caret"></span>
							</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li role="presentation"><a role="menuitem" tabindex="-1"
									href="#">Admin</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1"
									href="#">HR</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1"
									href="#">SystemAdmin</a></li>
								<li role="presentation" class="divider"></li>
								<li role="presentation"><a role="menuitem" tabindex="-1"
									href="#">Other</a></li>
							</ul>

						<select class="form-control" ng-model="user.roles" name="roles">
							<option selected="selected">Analyst</option>
							<option>Admin</option>
							<option>HR</option>
							<option>SystemAdmin</option>
							<option>Other</option>
						</select>
					</div>

					<input type="submit" class="btn btn-info" ng-click="submit()"
						value=Register name="post" align="center" />
				</form>
			</div>
		</div>

	</div>
	<br />
	<div class="copyrightDiv"></div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body> -->
<body class="login-middile-body">
	<div ng-app="" ng-controller="positionController">
		<form action="#" name="createPosition" onvalidate>
			<!-- <div class="siteDiv"> -->
			<div class="pageDiv">
				<!-- <div class="topLinkDiv"></div> -->
				<div class=headerDiv>
					<div class="logoDiv"></div>
					<!-- <div class="titleDiv"></div>
						<div class="rightDiv"></div> -->
				</div>
				<div class="container">
					<h2>User Registration form</h2>
					<form id="integerForm" role="form" class="form-horizontal">
						<div class="form-group">
							<label for="email">UserId:</label> <input type="text"
								class="form-control" id="userId" placeholder="Enter user-id"
								ng-model="user.userId" name="userId" required>
						</div>

						<div class="form-group">
							<label for="name">Name:</label> <input type="text"
								class="form-control" id="name" placeholder="Enter name"
								ng-model="user.name" name="name" required>
						</div>

						<div class="form-group">
							<label for="name">EmployeeId:</label> <input type="text"
								class="form-control" id="empId" placeholder="Enter EmployeeId"
								ng-model="user.empId" name="empId" required>
						</div>
						<div class="form-group">
							<label for="name">Experience:</label> <input type="text"
								class="form-control" id="experience"
								placeholder="Enter Experience" ng-model="user.experience"
								name="experience" required>
						</div>

						<div class="form-group">
							<label for="name">Mobile No:</label> <input type="text"
								class="form-control" id="mobileNumber"
								placeholder="Enter Mobile No." name="mobileNumber"
								ng-model="user.mobileNumber">
						</div>
						
						<div class="form-group">
							<label for="name">Designation:</label> <input type="text"
								class="form-control" id="designation"
								placeholder="Enter Designation" ng-model="user.designation"
								name="designation">
						</div>
						
						<label for="name">Role:</label><br/>
						<div>
							<select class="form-control" ng-model="user.roles" name="roles">
								<option selected="selected">Analyst</option>
								<option>Admin</option>
								<option>HR</option>
								<option>SystemAdmin</option>
								<option>Other</option>
							</select>
						</div><br>
							<input type="submit" class="btn btn-info" ng-click="submit()"
								value=Register name="post" align="center" />

					</form>

				</div>
</body>
</html>