<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="js/ng-grid-1.3.2.js"></script>
<link rel="stylesheet" href="css/ng-grid.css" />
<script type="text/javascript" src="js/viewUserController.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/home.css">

<title>Search User</title>
</head>

<body class="login-middile-body">

	<div ng-controller="viewUserController">
		<form action="#" name="viewUser" onvalidate>
			<div class="pageDiv">
				<div class=headerDiv>
					<div class="logoDiv"></div>
				</div>
				<div class="container">
					<div ng-include="'menu.html'" class="menuBarStyle"></div>
					<h2>Search for Existing User</h2>
					<div class="form-group">
						<label for="name">First Name:</label> <input type="text"
							name="name" class="form-control" id="name"
							placeholder="Enter Name" ng-model="user.name" name="name"
							required>
					</div>

					<input type="button" class="btn btn-info" ng-click="searchUser()"
						value="Search" name="get" align="center" />
				</div>
				<br>
				<div class="gridStyle" ng-grid="gridOptions"></div>
			</div>
		</form>
	</div>

</body>
</html>
