<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.nisum.portal.hr.paf"/>
    <context:component-scan base-package="com.nisum.employee.ref.controller"/>
    <context:component-scan base-package="com.nisum.employee.ref.service"/>
    <context:component-scan base-package="com.nisum.employee.ref.domain"/>
    <context:component-scan base-package="com.nisum.employee.ref.repository"/>
    <mvc:default-servlet-handler/>

    <mvc:annotation-driven/>
   
    <util:properties id="app" location="classpath:application.properties"/>
    <context:property-placeholder properties-ref="app"/>



    <!-- RestTemplate for external HTTP calls -->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    </bean>

    <import resource="classpath:mongo-context.xml"/>

</beans>